/*The Logo of the Website*/
#logo{
    float: left;
    height:60px;
    /* width:180px; */
    background-color: white;
}
/* Header Of the Website*/
#header{
    position: fixed;
    top:0;
    z-index: 111;
    background-color: #fff;
    width:100%;
    height: 60px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-bottom: 3px;
}
#mainMenu{
    height: 100%;
    float: left;
    font-size: 1.5em;
    font-family: 'Lato',sans-serif;
    font-style: normal;
}
/* The Top Menu */
#mainMenu ul li{
    display: inline;
}
#mainMenu ul li a{
    text-decoration: none;
    font-weight: lighter;
    color: #000;
    padding:5px;
    position: relative;
    top:20px;
    margin-left: 5px;
    border-radius:8px;
}
#mainMenu ul li a:first{
    margin-left: 10px;    
}
#mainMenu ul li a:hover{
    background: orangered;
    color:#fff;
}
/* The Toggle Button*/
#toggle{
    display: none;
    float:right;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color:#000;
    z-index:112;
    font-size: 24px;
    cursor: pointer;
}
#toggle:hover{
    background: orangered;
    color:#fff;
}
/*  Left Side navigation bar when */
#sideNavBar{
    width: 0;
    overflow-x: hidden;
    position: fixed;
    left:0px;
    background:rgba(0,0,0,0.95);
    top:0px;
    left:0px;
    z-index: 100;
    transition: 0.5s;
    height:100vh;
}
#sideNavBar label{
    color:#fff;
    font-size: 48px;
    float:right;
    position: relative;
    top:40px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#sideNavBar ul{
    position: relative;
    top:100px;
}
#sideNavBar ul li{
    width:250px;
}
#sideNavBar ul li a{
    text-decoration:none;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#sideNavBar ul li a:hover{
    color: #f1f1f1;
    background-color: #000;
}
/* Footer Section */
#footer{
    margin-top: 10px;
    position: relative;
    bottom:0px;
    width:100%;
    /* background: #0080C0; */
    background: linear-gradient(to right, #4c7099 0%,#e0701a 100%);
    clear: both;
    min-height: 300px;
    color:#fff;
    text-align: center;
    font-size: 18px;
    color:#B9B9B9;
    padding-top: 5vw;
    z-index: 100;
    /* -webkit-clip-path: polygon(0% 35%, 100% 0, 100% 100%, 0% 100%); */
    clip-path: polygon(0% 5vw, 100% 0, 100% 100%, 0% 100%);
}
#footer a{
    text-decoration: none;
    color:#B9B9B9;
    font-size:18px;
}

@media screen and (max-width:875px){
    #mainMenu{
        display: none;
    }
    #toggle{
        display: block;
    }
}

#activites{
    position: relative;
    background-color: orange;
    color:#fff;
    font-size: 1.2em;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-bottom: -7vw;
    padding-top: 6vw;
    padding-bottom: 7vw;
    clip-path: polygon(0% 5vw, 100% 0, 100% 100%, 0% 100%);
    z-index: 99;
}
