#flexslider{
    /* position: relative; */
    width: 42%;
    margin-top: 5em;
    margin-left: 3em;
    /* top:100vh; */
}
#flexslider .flex{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "img title"
    "thecontent thecontent";
}
#flexslider .flex a{
    grid-area: title;
    margin-top: 1.5em;
}
#flexslider .flex .thecontent{
    grid-area: thecontent;
    background: #fff;
    border:1px solid gray;
    padding:10px 10px;
}
#flexslider .flex .thecontent::before{
    background-color: #fff;
    border: 1px solid transparent;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    margin-top:-18px;
    content: " ";
    display: block;
    height: 16px;
    left: 60px;
    position: absolute;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 16px;
}
